
.sidebar-style {
    background-color: #55B78A;
    /*z-index: 1000;*/
    /*text-align: right;*/
    /*height: 3717px;*/
}

.side-bar-wise{
    margin-top: 20px;
}

.layout-boxed {
    background: none;
}

.content-header-wise{
    background-color: #55B78A;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bolder;
    padding:10px;
    text-transform: uppercase;
}

.content-bar-wise-head{
    background-color: #8b141c;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bolder;
    padding:10px;
    text-transform: uppercase;
    text-align: center;
}

.content-bar-wise-head-select{
    background-color: #dbdbdb;
    color: #ffffff;
    font-family: "Roboto Mono Thin";
    margin-top: 10px;
    color: #2e3436;

}

.content-bar-wise-head-car{
    background-color: #8c8c8c;
    color: #ffffff;
    font-family: "Roboto Mono Thin";
    margin-top: 10px;
    color: #2e3436;
    padding-top: 10px;

}

.sel-car-content-bar{
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sel-car-component{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #55B78A;
    color: white;
    font-weight: bold;
}

.sel-car-content-bar-p{
    font-size: 12px;
    text-align: left;
}

.font-check{
    font-weight: bold;
}

.sel-car-content-bar-p-car{
    font-size: 15px;
    text-align: left;
    color: #fafafa;
    font-family: "Roboto Mono";
}


.content-header-wise-action{
    background-color: #449868;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    padding:3px;
    border-radius: 5px;
    text-transform: capitalize;
}

.radius {
    border: 2px solid red;
    padding: 10px;
    border-radius: 50px 20px;
}

.content-header-wise-step{
    color: #ffffff;
    font-family: "Roboto Mono Thin";
    font-size: 15px;
    padding:3px;
    border-radius: 5px;
    text-transform: uppercase;
}

.content-header-wise-face{
    color: #ffffff;
    font-family: "Roboto Mono Thin";

    padding:10px;
    text-transform: uppercase;
    background-color: #3b5998;
}

.content-header-wise-twt{
    color: #ffffff;
    font-family: "Roboto Mono Thin";
    padding:10px;
    text-transform: uppercase;
    background-color: #00aced;
}

.content-header-wise-gplus{
    color: #ffffff;
    font-family: "Roboto Mono Thin";

    padding:10px;
    text-transform: uppercase;
    background-color: #db4a39;
}

label{
    font-family: "Roboto Mono Thin";
    text-transform: uppercase;
}

.h1-theme{
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
}


.separator-line{
    margin-top: 20px;
    border-top: 1px solid #55B78A;
}

.p-theme{
    text-align: justify;
    font-family: "Roboto Mono Thin";
}

.content-wrapper {
    min-height: 100%;
}

.top-car-component{
    background-color: #a9a9a9;

}

.img-icon{
    width: 49px;
}

.img-car-component{
    width: 200px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #4c966c;
    border-left-color: #000000;
}


.skin-blue .sidebar-menu > li > a {
    border-left: 3px solid transparent;
    color: #272424;
    text-align: right;
    font-size: 18px;
    margin-right: 27px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
}